# Problem set 3: Loading and structuring data from Denmark Statistics

In [39]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('seaborn-whitegrid')
import pandas as pd
import ipywidgets as widgets

# Tasks

## Create a pandas DataFrame

Modify the code below such that *income* and *consumption* are variables in the *dt* DataFrame.

In [40]:
np.random.seed(1999)
 
N = 100
mydata = {}
mydata['id'] = range(N)
income = np.exp(np.random.normal(size=N))
consumption = np.sqrt(income)
mydata['income'] = income
mydata['consumption'] = consumption

dt = pd.DataFrame(mydata)
dt

    id    income  consumption
0    0  0.727981     0.853218
1    1  1.997831     1.413447
2    2  0.276823     0.526140
3    3  1.481931     1.217346
4    4  1.235904     1.111712
..  ..       ...          ...
95  95  0.201856     0.449284
96  96  2.368034     1.538842
97  97  2.389874     1.545922
98  98  1.488635     1.220096
99  99  0.360234     0.600195

[100 rows x 3 columns]

**Answer:** see A01.py

## Create new variable

1) Add a new variable *ratio* which is the ratio of consumption to income.

In [41]:
# write your code here
dt['ratio'] = dt['consumption']/dt['income']
dt

    id    income  consumption     ratio
0    0  0.727981     0.853218  1.172033
1    1  1.997831     1.413447  0.707490
2    2  0.276823     0.526140  1.900636
3    3  1.481931     1.217346  0.821459
4    4  1.235904     1.111712  0.899513
..  ..       ...          ...       ...
95  95  0.201856     0.449284  2.225764
96  96  2.368034     1.538842  0.649839
97  97  2.389874     1.545922  0.646863
98  98  1.488635     1.220096  0.819607
99  99  0.360234     0.600195  1.666125

[100 rows x 4 columns]

**Answer:** See A02.py

## Summary statistics

Produce summary statistics using `.describe()`.

In [42]:
# write your code here
dt.describe()

               id      income  consumption       ratio
count  100.000000  100.000000   100.000000  100.000000
mean    49.500000    1.415547     1.087844    1.117517
std     29.011492    1.322203     0.484238    0.525452
min      0.000000    0.108402     0.329245    0.351134
25%     24.750000    0.529323     0.727545    0.752310
50%     49.500000    0.981178     0.990533    1.009580
75%     74.250000    1.768211     1.329572    1.374491
max     99.000000    8.110612     2.847914    3.037255

**Answer:** See A03.py

## Indexing

Select everybody with an income above 1.

In [43]:
# write your code here
dt.loc[dt['income'] > 1].head()

   id    income  consumption     ratio
1   1  1.997831     1.413447  0.707490
3   3  1.481931     1.217346  0.821459
4   4  1.235904     1.111712  0.899513
6   6  2.574032     1.604379  0.623294
7   7  2.475478     1.573365  0.635580

**Answer:** See A04.py

Select everybody with an income *above* 1 and a ratio *above* 0.7.

In [44]:
# write your code here
dt.loc[(dt['income'] > 1) & (dt['ratio'] > 0.7)].head()

    id    income  consumption     ratio
1    1  1.997831     1.413447  0.707490
3    3  1.481931     1.217346  0.821459
4    4  1.235904     1.111712  0.899513
11  11  2.031708     1.425380  0.701567
18  18  1.280235     1.131475  0.883802

**Answer:** See A05.py

Set consumption equal to 0.5 if income is less than 0.5.

In [45]:
# write your code here
# dt['consumption'].mean() # <- compare with answer

I = dt['income'] < 0.5
dt.loc[I, ['consumption']] = 0.5
dt['consumption'].mean()

1.075479712048503

**Answer:**  See A06.py

Set consumption equal to income if income is less than 0.5.

In [46]:
# write your code here
I = dt['income'] < 0.5
dt.loc[I, ['consumption']] = dt['income']
dt['consumption'].mean() # <- compare with answer

1.0337728690050052

**Answer:** See A07.py

## Dropping

Drop the *ratio* variable and all rows with an income above 1.5. After this, also drop the first 5 rows.

In [47]:
print(f'before: {dt.shape[0]} observations, {dt.shape[1]} variables')

dt.drop('ratio', axis=1, inplace=True)

I = dt['income'] > 1.5
dt.drop(dt.loc[I].index, inplace=True)

dt.drop(dt.loc[:5].index, inplace=True)

print(f'after: {dt.shape[0]} observations, {dt.shape[1]} variables')

before: 100 observations, 4 variables
after: 65 observations, 3 variables

**Answer:** see A08.py

## Renaming

Rename *consumption* to *cons* and *income* to *inc*.

In [48]:
# write your code
dt.rename(columns={'consumption':'con', 'income':'inc'}, inplace=True)
dt.head()

    id       inc       con
8    8  0.582074  0.762938
10  10  0.932044  0.965424
12  12  0.356952  0.356952
13  13  0.379825  0.379825
16  16  0.700896  0.837195

**Answer:** see A09.py

## Functions

Correct the wrong lines such that `assets_1 = assets_2 = assets_3 = assets_4`.

In [56]:
def assets_row_by_row(x,R,Y):
    return R*(x['inc']-x['con'])+Y
    
def assets_all_at_once(income,consumption,R,Y):
    return R*(income-consumption)+Y

def assets_adj(assets,R,Y):
    assets *= R
    assets += Y

R = 1.2 # return rate
Y = 1 # income
try:
    dt['assets_1'] = R*(dt['inc']-dt['con'])+Y
    dt['assets_2'] = dt.apply(assets_row_by_row,axis=1,args=(R,Y))
    dt['assets_3'] = assets_all_at_once(dt['inc'].values,dt['con'].values,R,Y)
    dt['assets_4'] = dt['inc']-dt['con']
    assets_adj(dt['assets_4'],R,Y)
except:
    print('failed')
dt.head()

    id       inc       con  assets_1  assets_2  assets_3  assets_4
8    8  0.582074  0.762938  0.782963  0.782963  0.782963  0.782963
10  10  0.932044  0.965424  0.959943  0.959943  0.959943  0.959943
12  12  0.356952  0.356952  1.000000  1.000000  1.000000  1.000000
13  13  0.379825  0.379825  1.000000  1.000000  1.000000  1.000000
16  16  0.700896  0.837195  0.836441  0.836441  0.836441  0.836441

**Answer:** see A10.py

# Problem

Load the data set in *data/NAH1_pivoted.xlsx* and clean and structure it such that the `plot_timeseries(dataframe)` below can be run and produce an interactive figure.

In [57]:
def _plot_timeseries(dataframe, variable, years):
    
    fig = plt.figure(dpi=100)
    ax = fig.add_subplot(1,1,1)
    
    dataframe.loc[:,['year']] = pd.to_numeric(dataframe['year'])
    I = (dataframe['year'] >= years[0]) & (dataframe['year'] <= years[1])
    
    x = dataframe.loc[I,'year']
    y = dataframe.loc[I,variable]
    ax.plot(x,y)
    
    ax.set_xticks(list(range(years[0], years[1] + 1, 5)))    
    
def plot_timeseries(dataframe):
    
    widgets.interact(_plot_timeseries, 
    dataframe = widgets.fixed(dataframe),
    variable = widgets.Dropdown(
        description='variable', 
        options=['Y','C','G','I','X','M'], 
        value='Y'),
    years=widgets.IntRangeSlider(
        description="years",
        min=1966,
        max=2018,
        value=[1980, 2018],
        continuous_update=False,
    )                 
);

**Hint 1:** You can base your renaming on this dictionary:

In [58]:
rename_dict = {}
rename_dict['P.1 Output'] = 'Y'
rename_dict['P.3 Final consumption expenditure'] = 'C'
rename_dict['P.3 Government consumption expenditure'] = 'G'
rename_dict['P.5 Gross capital formation'] = 'I'
rename_dict['P.6 Export of goods and services'] = 'X'
rename_dict['P.7 Import of goods and services'] = 'M'

**Hint 2:** You code should have the following structure:

In [71]:
# a. load data set
nah1 = pd.read_excel('data/NAH1_pivoted.xlsx', skiprows=2)

# b. rename variables
rename_dict['Unnamed: 0'] = 'year'
nah1.rename(columns=rename_dict, inplace=True)

# c. remove rows where Y is nan
I = nah1['Y'].notna()
nah1 = nah1[I]

# d. correct year column data
I = nah1['year'].notna()
J = nah1['year'].isna()
nah1.loc[J,['year']] = nah1.loc[I,['year']].values

# e. only keep rows with '2010-prices, chained values'
I = nah1['Unnamed: 1'] == '2010-prices, chained values'
nah1 = nah1[I]

# f. only keep renamed variables
nah1 = nah1.loc[:,['year','Y','C','G','I','X','M']]
nah1

# g. interactive plot
plot_timeseries(nah1)

interactive(children=(Dropdown(description='variable', options=('Y', 'C', 'G', 'I', 'X', 'M'), value='Y'), Int…

**Answer:** see A11.py

# Extra problems

## Extend interactive plot

Extend the interactive plot with a choice of *real* vs *nominal*.

## New data set

Load data from an Excel or CSV file you have downloaded from e.g. [Statistikbanken.dk](https://www.statistikbanken.dk/). Clean, structure and present the data as you see fit.

In [83]:
sueyot = pd.read_excel('data/Sociale udgifter efter ydelsestype, foranstaltning og tid.xlsx', skiprows=2)
sueyot = sueyot.iloc[:,1:]
sueyot.rename(columns={'Unnamed: 1':'udgifter'}, inplace = True)
sueyot

,udgifter,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Sociale udgifter i alt,528155,548160,590011,616487,618112,637642,665479,680844,686431,684311,702847,716219,732697,764423,782303
1,1 SYGDOM OG SUNDHED,113070,120283,127333,130009,129624,132699,132856,135083,137882,140413,143845,147195,149223,159955,175753
2,1.1 Offentlig sygeskring,22085,23089,23065,23505,23461,23393,22758,22919,23234,23458,23600,23925,24930,25363,25957
3,1.2 Sygehusvæsenet,65446,70585,76631,78313,78010,81206,82703,84718,87271,89550,91892,93695,93505,101302,113368
4,1.3 Kommunale sundhedsydelser,5959,6086,6649,6889,6813,7057,7375,7606,8056,8471,8933,9915,10375,11086,11846
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,8.8 Forsørgelse; asylansøgere,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
236,8.9 Ydelser fra Lønmodtagernes Garantifond,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
237,8.10 Kompensation for energiafgifter (grøn check),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
238,8.11 Obligatorisk pensionsordning for modtager...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
239,9. ADMINISTRATIONSUDGIFTER,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [ ]:
# want to make it long format